.options {

  padding: 20px 20px 20px 20px;
  border-bottom: #ddd 2px solid;
  margin-left: 20px;
  margin-right: 20px;
}

.file {
  padding-left: 10px 10px 10px 10px;
}

.btn {
  position: relative;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  padding: 10px 10px 10px 10px;
  background-color: #2ecc71;
  color: #ecf0f1;
  font-size: medium;
  transition: background-color .3s;
}

.btn:hover,
.btn:focus {
  background-color: #27ae60;
}

.btn>* {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;


  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.date {
  padding: 12px 30px 12px 12px;
  margin-left: 90px;
  border: #ddd 1px solid;
  color: grey;
  margin-right: 20px;
}

.date_label {
  font-size: medium;
  position: absolute;
  margin-left: 20px;
  color: grey;
}

.input_field {
  padding: 12px 50px 12px;
  border: #ddd 1px solid;
  margin-left: 70px;
  font-size: large;
  color: grey;

}

input[type="file"] {
  size: 20px;
}

.table{
  display: none;
 
  margin-right: 90em;
  font-size: larger;
  margin-top: 20px;
  margin-left: 20px ;
}
.td
{
  border: #ddd 1px solid;
  color: grey;
}
.th
{
  border: #ddd 1px solid;
  color: grey;
}
.values {
  margin-left: 400px;
  position: absolute;
  border: #ddd 1px solid;
  padding: 20px 20px 200px 20px;
  margin-top: 20px;
  color: grey;
  max-width: 900px;
  min-width: 900px !important;
}
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}